{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password reset complete</title>
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <style>
      .complete {
        margin-block: 10rem;
        background-color: #1c2022;
        color: white;
        margin-inline: auto;
        width: 50%;
        border-radius: 2.5rem;
        padding: 3rem 5rem;
      }

      .cta{
        color: #FACD66;
      }

      .cta:hover{
        opacity: 75%;
      }

      @media (max-width: 680px){
        .complete{
            width: 80%;
            padding: 2rem 1rem;
        }
      }
    </style>
  </head>
  <body class="font-sans text-center">
    <div class="complete">
      <h1 class="font-bold text-[1.5rem]">Password set</h1>
      <p>
        Your password has been set. You can
        <a href="{% url 'login' %}" class="cta">log in now</a>
      </p>
    </div>
  </body>
</html>
