{% load static %}

<div class="md:ml-[6rem]">
  <div class="flex mt-[5rem] space-x-2 text-gray-500 cursor-pointer">
    <p
      class="px-6 py-2 rounded-full border borde border-gray-500 hover:bg-yellow-400 {% if section == 'collection' %} active {% endif %}"
      hx-post="{% url 'collection' %}"
      hx-target="#home"
      hx-trigger="click"
    >
      My collection
    </p>
    <p
      class="px-6 py-2 rounded-full border borde border-gray-500 hover:bg-yellow-400 {% if section == 'likes'  %} active {% endif %}"
      hx-post="{% url 'likes-page' %}"
      hx-target="#home"
      hx-trigger="click"
    >
      Likes
    </p>
  </div>
  <div id="change">
   <div class="md:flex space-x-5 flex-wrap mt-6">
{% for album in albums %}
  <div
    class="relative w-full h-[20rem] md:size-[16rem] text-white rounded-3xl cursor-pointer"
    style="background-image: url('../../../media/{{ album.album_cover }}'); background-size: cover; background-position: center;"
    hx-trigger="click"
    hx-target="#home"
    hx-post="{% url 'album_songs' album.id %}"
  >
    <div class="absolute inset-0 bg-black opacity-20 hover:opacity-50 cursor-pointer rounded-3xl"></div>
    
   <div class="relative pl-[1.19rem] pt-[11rem]">
    <h2 class="text-[1.5rem] font-normal"> {{ album.title }} </h2>
    <p class="text-[0.72rem] font-normal"> {{ album.artist }}  </p>
   </div>
        
    </div>
{% endfor %}
</div>

  </div>
</div>
