{% load static %}

<div class="md:ml-[6rem]">
  <div class="flex mt-[5rem] space-x-2 text-gray-500 cursor-pointer">
    <p
      class="px-6 py-2 rounded-full border borde border-gray-500 hover:bg-yellow-400 {% if section == 'collection' %} active {% endif %}"
      hx-post="{% url 'collection' %}"
      hx-target="#home"
      hx-trigger="click"
    >
      My collection
    </p>
    <p
      class="px-6 py-2 rounded-full border borde border-gray-500 hover:bg-yellow-400 {% if section == 'likes' %} active {% endif %}"
      hx-post="{% url 'likes-page' %}"
      hx-target="#home"
      hx-trigger="click"
    >
      Likes
    </p>
  </div>
  <div id="change">
    <div class="w-full h-[15rem] bg-gradient-to-t from-[rgba(108,117,125,0.2)] to-[rgba(128,128,128,0.2)] my-4 flex space-x-5 items-center px-[5rem]">
      <img class="size-[4rem]" src="{% static 'assets/Heart.png' %}" alt="">
      <h1  class="text-[3rem] text-[#A4C7C6]">Liked Songs</h1>
    </div>
    <div class="md:flex space-x-5 flex-wrap mt-6">
      {% for song in liked_songs %}
      <div
        class="song bg-primary flex cursor-pointer my-2 py-4 px-3 rounded-xl justify-between hover:opacity-75 w-full"
        data-url="{{ song.song_url }}"
        data-image="{{ song.cover_image }}"
        data-song-name="{{ song.song_name }}"
        data-artist="{{ song.artist }}"
      >
        <div class="flex">
          <img
            class="size-12 rounded-sm"
            src="../../../media/{{ song.cover_image }}"
            alt=""
          />
          <h2 class="pl-[1rem]">{{ song.song_name }} ~ {{ song.artist }}</h2>
        </div>
        <div>
          <img
            class="size-4 hover:opacity-50"
            src="{% static 'assets/play.svg' %}"
            alt="play button"
          />
          <p class="">{{ song.duration }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
